*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-page{
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: #07011a;
}

/* LEFT SIDE */

.register-left{
  position: relative;

  overflow: hidden;
}

.register-left img{
  width: 100%;
  height: 100vh;

  object-fit: cover;
}

.overlay{
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.45);

  z-index: 1;
}

.left-content{
  position: absolute;

  bottom: 80px;
  left: 60px;

  z-index: 2;

  color: white;
}

.left-content h1{
  font-size: 70px;

  font-weight: 800;

  margin-bottom: 20px;
}

.left-content p{
  max-width: 500px;

  line-height: 1.8;

  font-size: 18px;

  color: #e0e0e0;
}

/* RIGHT SIDE */

.register-right{
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 40px;
}

.register-box{
  width: 100%;
  max-width: 500px;

  background: rgba(255,255,255,0.04);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(18px);

  border-radius: 35px;

  padding: 45px 40px;

  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

.register-box h2{
  color: white;

  font-size: 40px;

  margin-bottom: 10px;
}

.register-subtitle{
  color: #cfcfcf;

  margin-bottom: 35px;

  font-size: 16px;
}

/* INPUT */

.input-box{
  margin-bottom: 22px;
}

.input-box label{
  display: block;

  color: white;

  margin-bottom: 10px;

  font-size: 15px;
}

.input-box input{
  width: 100%;

  padding: 16px;

  border-radius: 16px;

  border: 1px solid rgba(255,255,255,0.1);

  background: rgba(255,255,255,0.05);

  color: white;

  font-size: 16px;

  outline: none;
}

.input-box input::placeholder{
  color: #bdbdbd;
}

/* BUTTON */

.signup-btn-main{
  width: 100%;

  padding: 18px;

  border: none;

  border-radius: 16px;

  background: palevioletred;

  color: white;

  font-size: 18px;

  font-weight: 600;

  cursor: pointer;

  margin-top: 10px;

  transition: 0.3s;
}

.signup-btn-main:hover{
  background: rgb(233, 93, 140);

  transform: translateY(-3px);
}

/* GOOGLE */

.google-btn{
  width: 100%;

  margin-top: 22px;

  padding: 16px;

  border-radius: 16px;

  border: 1px solid rgba(255,255,255,0.1);

  background: transparent;

  color: white;

  display: flex;

  justify-content: center;
  align-items: center;

  gap: 12px;

  font-size: 16px;

  cursor: pointer;
}

.google-btn img{
  width: 24px;
}

/* LOGIN TEXT */

.login-text{
  text-align: center;

  margin-top: 28px;

  color: #cfcfcf;
}

.login-text a{
  color: palevioletred;

  text-decoration: none;

  margin-left: 8px;

  font-weight: 600;
}

/* RESPONSIVE */

@media(max-width:1000px){

  .register-page{
    grid-template-columns: 1fr;
  }

  .register-left{
    display: none;
  }
}

@media(max-width:600px){

  .register-box{
    padding: 35px 25px;
  }

  .register-box h2{
    font-size: 32px;
  }
}